.pinyin-extension-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 7px;
  z-index: 2147483647;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  /*border: 0.5px solid #ffffff11;
  outline: 0.5px solid #00000022;*/

  font-family: "times new roman", times, serif;
  font-size: 12px;
  line-height: 1;

  color: #ffffff44;
  text-shadow: 1px 1px 1px #00000066;
  mask:
    linear-gradient(
      0deg,
      transparent,
      #fff 3px,
      #fff calc(100% - 3px),
      transparent
    ),
    linear-gradient(
      90deg,
      transparent,
      #fff 3px,
      #fff calc(100% - 3px),
      transparent
    );
  mask-composite: intersect;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: start;
  gap: 0.2em 2em;

  max-width: 300px;
  transition: opacity 0.1s;

  &:not(.visible) {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    transition-duration: 0.3s;
  }

  &:hover {
    backdrop-filter: none;
  }

  .pinyin-sound {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .pinyin-word {
    letter-spacing: 0.25em;
  }

  &:not(.altkey) .pinyin-explain {
    display: none;
  }

  &.shiftkey.ctrlkey {
    top: 50%;
  }

  &.shiftkey.ctrlkey.altkey {
    color: #eee;
    text-shadow: 1px 1px 0 #111;
  }
}
